*{
  margin:0;
  padding:0;
}
body{
  font-family: Arial, Helvetica, sans-serif;

}
nav{
  width: 100%;
  height: 60px;
  background-color:rgb(27, 26, 32);
  position: fixed;
  z-index: 1;
}
nav ul{
  height: 100%;
  margin-right: 30;
  text-align: center;
}
nav ul li{
  display: inline-block;
  list-style-type: none;
  margin-top: 20px;
}
nav ul li :hover{
  background-color: rgb(7, 19, 36);
  
}
ul li.active a{
  background-color: rgb(7, 19, 36);
}
nav ul li a{
  text-decoration: none;
  color:#fff;
  padding: 30px;
  transition:0.3s ease;
}
.grb{
  margin-left:35px;
  margin-top: 15px;
  float:left;
}
.naslovna{
  min-height:450px;
  background:url('../images/stadion.jpg') no-repeat 0 -150px;
  background-size:cover;
  text-align:center;
}
.naslovna h1{
  font-size:55px;
  margin-bottom:10px;
}
.naslovna p{
  font-size:20px;
}
h2{
  text-align: center;
}
.cibalia{
  position: absolute;
  background-color: rgb(0, 0, 0,0.7);
  border-radius: 5px;
  color:white;
  margin-top:150px;
  padding: 20px;
  margin-right:380px;
  margin-left: 380px;
}
.boxes .box{
  float:left;
  text-align: center;
  width:23%;
  padding:10px;
  border:3px;
  color: white;
}
.boxes .box p{
  color:black;
}
.boxes {
  position: absolute;
  background: url('../images/dolje.png') no-repeat 0 0;
  background-size:cover; 
}
h3{
  color:black;
}
.sport{
  margin:1% 1% 0 1%;
}
.sport1{
  margin:1% 0 0 0;
}